:host {
    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            color: red;
            text-align: justify;
        }
    }

    .step-action-buttons {
        padding-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;

        .next-button {
            width: 49%;
        }

        .previous-button {
            width: 49%;
        }
    }
}