<div class="head-banner">
    <img routerLink="/products" src="../../../assets/images/head-banner.jpeg" />
    <img routerLink="/products" src="../../../assets/images/head-banner.jpeg" />
</div>
<div class="middle-banner">
    <div class="panel">
        <img routerLink="/products" class="item-image" src="../../../assets/images/discount-01.jpg">
    </div>
    <div class="panel">
        <img routerLink="/products" class="item-image" src="../../../assets/images/discount-02.jpg">
    </div>
    <div class="panel ">
        <img routerLink="/products" class="item-image" src="../../../assets/images/discount-01.jpg">
    </div>
</div>
<div class="filler">
</div>
<footer>
    <span>Síguenos en:</span>
    <div class="details-container">
        <svg fill="white" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24"
            viewBox="0 0 24 24" width="24">
            <rect fill="none" height="24" width="24" />
            <path
                d="M22,12c0-5.52-4.48-10-10-10S2,6.48,2,12c0,4.84,3.44,8.87,8,9.8V15H8v-3h2V9.5C10,7.57,11.57,6,13.5,6H16v3h-2 c-0.55,0-1,0.45-1,1v2h3v3h-3v6.95C18.05,21.45,22,17.19,22,12z" />
        </svg>
        <a href="https://www.facebook.com/profile.php?id=61558400667299&mibextid=LQQJ4d" target="_blank">Facebook</a>
        <br>
        <mat-icon>public</mat-icon>
        <a href="https://arcstech1.wordpress.com/" target="_blank">Sitio Oficial</a>
    </div>
    <h5>© 2024 Copyright ARCS Tech</h5>
</footer>