<div class="main-container">
    <img class="shipping-image" src="../../../../../../assets/images/arcs-delivery-truck.jpg">
    <div class="text-container">
        <h2>El envió se realiza a traves de la paquetería: <strong>ARCSTech Delivery</strong> y tiene un costo de: <strong>$100.00 MXN</strong></h2>
        <h3>Contamos con envíos a toda la República Méxicana</h3>
    </div>
</div>
<div class="step-action-buttons">
    <button mat-button color="warn" class="previous-button" (click)="clickedPrevious.emit()">Anterior</button>
    <button mat-button color="primary" class="next-button" (click)="clickedNext.emit()">Siguiente</button>
</div>