:host {
    mat-card {
        width: 180px;
        height: 230px;

        mat-card-header {
            padding: 5px;
            justify-content: center;
            display: flex;
            flex-direction: column;

            .item-name {
                text-align: center;
                font-size: 14px;
                color: #007185;
                text-decoration: none;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }

            .item-name:hover {
                color: #007185;
                text-decoration: underline;
            }
        }

        .image-container {
            text-align: center;

            .item-image {
                width: 100px;
                height: 100px;
                object-fit: contain;
                cursor: pointer;
            }
        }

        mat-card-content {
            padding: 5px;
            height: 100%;
            vertical-align: middle;

            .price-details {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .price-line {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
            }

            .tag-promotion {
                background-color: #cc0c39;
                color: white;
                margin-left: -5px;
            }

            .tag-new {
                background-color: #e67a00;
                color: white;
                margin-left: -5px;
            }

            mat-card-subtitle {
                font-size: 12px;
                text-align: center;
            }

            .sold-out-text {
                color: red;
                transform: rotate(-10deg);
                font-size: 16px;
            }

            .availability-container {
                padding-top: 10px;
            }

            .price {
                font-size: 16px;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    .card-sold-out {
        border: #cc0c39 1px solid;
    }
}