:host {
    .item-image {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
    
    .fields-row {
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        flex-wrap: wrap;

        >mat-form-field {
            width: 100%;
        }
    }
}