:host {
    .header {
        text-align: center;
        margin-bottom: 0px;
    }

    .details-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        .images-container {
            width: 400px;
            height: 350px;
            justify-content: center;
            display: flex;
            flex-direction: row;
            -webkit-box-shadow: 9px 11px 12px -10px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 9px 11px 12px -10px rgba(0, 0, 0, 0.75);
            box-shadow: 9px 11px 12px -10px rgba(0, 0, 0, 0.75);

            .other-images {
                height: 350px;
                width: 100px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                img {
                    object-fit: contain;
                    height: 100px;
                    cursor: pointer;
                }
            }

            .main-image {
                height: 350px;

                img {
                    padding-top: 25px;
                    padding-bottom: 25px;
                    width: 300px;
                    height: 300px;
                    object-fit: contain;
                }
            }
        }

        .details-container {
            flex: 1;
            padding: 10px 10px 0px 10px;
            display: flex;
            flex-direction: column;

            .description {
                padding: 20px 20px 0px 20px;
                text-align: justify;
            }

            .promotion-details {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-top: 10px;

                .available-options {
                    padding-right: 0px;
                    max-width: 150px;
                    min-width: 150px;
                    text-align: center;
                    font-size: 18px;                  
                }

                .tag-promotion,
                .tag-new {
                    color: white;
                    max-width: 170px;
                    min-width: 170px;
                    text-align: center;
                    font-size: 20px;
                    height: 25px;
                    line-height: 25px;
                }

                .tag-promotion {
                    background-color: #cc0c39;
                }

                .tag-new {
                    background-color: #e67a00;
                }
            }

            .price-details {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-top: 20px;

                .price-line {
                    padding-left: 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    column-gap: 5px;

                    .price {
                        font-size: 25px;
                    }
                }

                .previous-price-line {
                    padding-left: 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    column-gap: 5px;

                    .price {
                        font-size: 25px;
                        text-decoration: line-through;
                        color: #cc0c39;
                    }
                }
            }

            .buy-options {
                display: flex;
                flex-direction: row;
                padding-top: 20px;       

                .select-options {
                    padding-top: 20px;
                    display: flex;
                    flex-direction: row;
                    column-gap: 20px;

                    mat-form-field {
                        width: 170px;
                    }

                    .buy-button {
                        height: 100%;
                        width: 170px;
                    }
                }
            }
        }
    }

    .sold-out {
        color: red;
        font-weight: bold;
    }

    .suggested {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
        row-gap: 5px;
        column-gap: 5px;
    }

    @media screen and (max-width: 768px) {
        .promotion-details{
            justify-content: space-between;
        }
        .price-details{
            justify-content: space-around;
        }
    }
}