<h2 mat-dialog-title style="text-align: center;">Actualizar Pedido</h2>
<mat-dialog-content class="mat-typography">
  <div style="display: flex; flex-direction: column;">
    <div style="display: flex; flex-direction: row; font-size: 14px; color: black;">
      <div>Pedido:</div>
      <div style="padding-left: 5px;">{{data?.orderId}}</div>
    </div>
    <div style="display: flex; flex-direction: row; font-size: 14px; color: black;">
      <div>Cliente:</div>
      <div style="padding-left: 5px;">{{data?.buyerName}}</div>
    </div>
    <div style="display: flex; flex-direction: row; font-size: 14px; color: black;">
      <div>Total:</div>
      <div style="padding-left: 5px;">{{data?.totalAmount | currency}}</div>
    </div>
  </div>
  <div [formGroup]="updateOrderForm">
    <div class="fields-row">
      <mat-form-field>
        <mat-label>Estado</mat-label>
        <mat-select formControlName="statusKey" name="statusKey">
          @for (status of statuses; track status) {
            <mat-option [disabled]="status.disabled" [value]="status.key">{{status.value}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Número de Guía</mat-label>
        <input matInput name="shipmentTrackCode" formControlName="shipmentTrackCode" id="statusKey" />
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button cdkFocusInitial color="primary" (click)="saveItem()" [disabled] = "isInvalid || isCanceled">Agregar</button>
</mat-dialog-actions>